.wrapper-cart {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        padding-right: 30px;
        & .deleteAll {
            display: none;
        }
        & .wishlist-header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-weight: bold;
            font-size: 2rem;
            color: #1D2671;
            gap: 10px;
            padding-left: 30px;
        }
        & .clearAll {
            background-color: red;
            color: white;
            font-weight: bold;
        }
    }
    & .items-overall-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px;
        & .noItem {
            height: 100%;
            width: 100%;
            & .anime {
                & svg {
                    max-height: 80vh;
                }
            }
        }
        & .noItem-Login-Container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            bottom: 55px;
            & button {
                width: 100px;
                height: 40px;
                cursor: pointer;
                font-weight: bold;
                background-image: linear-gradient( to right, #C33764, #1D2671);
                border: none;
                border-radius: 5px;
                color: white;
                transition: all 0.15s;
                position: relative;
                bottom: 50px;
                &:hover {
                    opacity: 0.8;
                    color: white;
                }
                &:active {
                    width: 90px;
                }
            }
        }
        & .item-wrapper {
            background-color: rgb(233, 233, 233);
            box-shadow: 0 5px 10px -5px black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 1 45%;
            height: 250px;
            border-radius: 20px;
            position: relative;
            padding: 10px;
            gap: 3%;
            & img {
                height: 100%;
                width: 50%;
                object-fit: contain;
                border-radius: 10px;
                background-color: white;
            }
            & .details {
                width: 50%;
                height: 100%;
                padding-top: 50px;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                gap: 5px;
                & .itemName {
                    color: #1D2671;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                & .incDec {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    & input {
                        background-color: white;
                        border: 1px solid;
                        color: white;
                        outline: none;
                        padding: 5px;
                        color: #1D2671;
                        width: 80%;
                        cursor: auto;
                    }
                }

            }
            & .trashCan {
                position: absolute;
                top: 20px;
                right: 20px;
            }

        }
    }
    & .wishlistDetails {
        border-top: 1px solid rgb(223, 223, 223);
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        gap: 5px;
        width: 90%;
        align-items: flex-start;
        justify-content: center;
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 10%;
        & h2 {
            font-size: 2rem;
        }
        & .toCheckout {
            width: 15rem;
            cursor: pointer;
            padding: 10px;
            font-weight: bold;
            font-size: medium;
            background-color: #e25b86;
            color: white;
            border: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}


@media (max-width: 768px) {
    .item-wrapper {
        flex: 0 1 85%!important;
    }
}
@media (max-width: 425px) {
    .header {
        padding-left: 0 !important;
        & .back-cart {
            scale: 0.8;
        }
        & .wishlist-header {
            font-size: 1.3rem !important;
            padding-left: 0 !important;
            text-align: center;
        } 
        & .cartIcon {
            scale: 0.8;
        }
        & .deleteAll {
            display: block !important;
            margin-left: 10px;
            &:active {
                opacity: 0.6;
            }
        }
        & .clearAll {
            display: none;
        }
    }
    .items-overall-wrapper {
        padding: 10px !important;
        .item-wrapper {
            flex: 0 1 100%!important;    
            height: 200px !important;
            border-radius: 10px !important;
            & .details {
                padding-top: 40px !important;
                & .itemName {
                    font-size: 1.3rem !important;
                }
                & .incDec {
                    margin-top: 5px !important;
                } 
            }
        }
    }
    .wishlistDetails {
        padding-bottom: 15% !important;
        & h2 {
            font-size: 1.7rem !important;
        }
    }
}
@media (max-width: 375px) {
    .header {
        & .wishlist-header {
            font-size: 1.25rem !important;
        } 
    }
    .wishlistDetails {
        & h3 {
            font-size: 1.1rem !important;
        }
        & h2 {
            font-size: 1.5rem !important;
        }
    }
}