.mainWrapper-home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    & .featuredHeader {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 20px;
        color: #1D2671;
        font-size: 2.25rem;
        font-weight: bold;
    }
}

@media (max-width: 370px) {
    .featuredHeader {
        font-size: 1.8rem !important;
    }
}