.apple, .nike, .samsung, .louisVuitton {
    width: 100%;
    overflow-x: hidden;
    & .container { 
        width: 100%;
        overflow-x: scroll;
        & .gridContainer2 {
            width: 100%;
            display: flex;
            padding-left: 2%;
            & .productContainer {
                min-width: 250px;
            }
        }
    }
}

.container::-webkit-scrollbar {
    display: none;
}