.shopByCats-wrapper {
    display: none;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin-top: 12vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    & span {
        font-weight: bold;
        font-size: 2rem;
    }
    & .cats-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        color: white;
        font-weight: bold;
        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            height: 140px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            & small {
                font-size: 0.9rem;
            }
            &:nth-child(1) {
                background-image: url('https://images.unsplash.com/photo-1535230387253-9cd5be991a86?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fEhvbWUlMjBhcHBsaWFuY2VzfGVufDB8fDB8fHww');
                grid-column: 1;
                grid-row: 1;
            }
            &:nth-child(2) {
                background-image: url('https://plus.unsplash.com/premium_photo-1679079456083-9f288e224e96?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZWxlY3Ryb25pY3N8ZW58MHx8MHx8fDA%3D');
                grid-column: 2;
                grid-row: 1;
            }
            &:nth-child(3) {
                background-image: url('https://images.unsplash.com/photo-1619834035779-57f2f0e0cea8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHNtYXJ0cGhvbmVzfGVufDB8fDB8fHww');
                grid-column: 3;
                grid-row: 1;
            }
            &:nth-child(4) {
                background-image: url('https://images.unsplash.com/photo-1549298916-b41d501d3772?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNob2VzfGVufDB8fDB8fHww');
                grid-column: 1;
                grid-row: 2;
            }
            &:nth-child(5) {
                background-image: url('https://images.unsplash.com/photo-1669479032913-6e9b057677e9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b3V0ZXJ3ZWFyfGVufDB8fDB8fHww');
                grid-column: 2;
                grid-row: 2;
            }
            &:nth-child(6) {
                background-image: url('https://images.unsplash.com/photo-1517430816045-df4b7de11d1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8TGFwdG9wc3xlbnwwfHwwfHx8MA%3D%3D');
                grid-column: 3;
                grid-row: 2;
            }
        }
    }
}

@media (max-width: 650px) {
    .shopByCats-wrapper {
        display: flex;
    }
}
@media (max-width: 425px) {
    .cats-wrapper {
        & div {    
            height: 80px !important;
        }
    }
}
@media (max-width: 375px) {
    .cats-wrapper {
        & div {
            flex: 0 1 110px !important;
        }
    }
}
@media (max-width: 370px) {
    .shopByCats-wrapper {
        & span {
            font-size: 1.8rem !important;
        }
    }
}